<?php
    putenv('TTRSS_DB_TYPE={{ ttrss.db_type }}');
    putenv('TTRSS_DB_HOST={{ ttrss.db_host }}');
    putenv('TTRSS_SELF_URL_PATH={{ ttrss.self_url }}');
    putenv('TTRSS_DB_USER={{ ttrss.db_user }}');
    putenv('TTRSS_DB_NAME={{ ttrss.db_name }}');
    putenv('TTRSS_DB_PASS={{ ttrss.db_pass }}');
?>