# {{ ansible_managed }}
version: '3'
services:
  jenkins:
    image: jenkins-custom
    build:
      context: .
    privileged: true
    user: root
    ports:
      - 8080:8080
      - 50000:50000
    volumes:
      - /srv/jenkins/jenkins_data:/var/jenkins_home
